.countriesList {
display: flex;
 flex-wrap: wrap;
 justify-content: center;
 margin: auto;

}

.radio-container{
    display: flex;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    padding: 10px 10px;
    margin: 10px 10px;
    border-radius: 10px;
    border: solid 3px #002654;
}

.continents-name{
    color: aliceblue;
    
}

label{

    padding: 0px 10px;
}


