.countriesList {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

.input-search-container {
  display: flex;
  justify-content: center;
  padding: 10px 10px;
  margin-top: 10px;
}

.input-search {
  width: 30%;
  text-align: center;
  padding: 10px 10px;
  margin-bottom: 10px 10px;
  border: solid 3px #002654;
  border-radius: 30px;
  margin: 10px;
}

.remove-search {
  cursor: pointer;
}

.radio-container {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
  margin: 10px 10px;
  border-radius: 10px;
  color: #002654;

  label {
    color: #ffffff;
    padding: 0px 10px;
  }
  .continents-name {
    background-color: #002654;
    padding: 10px;
    border-radius: 30px;
  }
}

.continent-container {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: 20px 0px;
  width: 70%;
}

@media screen and (max-width: 800px) {
  .input-search {
    width: 80%;
    height: 60px;
  }

  .radio-container {
    flex-direction: column;

    .continent-container {
      display: flex;
      flex-wrap: wrap;
     justify-content: space-evenly;
      margin: 20px 0px;
      width: 100%;
      gap: 15px;
    }
  }
}


